body{
    background-color:rgb(109, 104, 104);
}
h1 {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: royalblue;
    text-align: center;
}
.branchingtest {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: lightcoral;
    text-align: left;
}
.beilessthrift {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: lightcoral;
    text-align: center;
}
.italics {
    font-style: italic;
    background-color: maroon;
}
#experience {
    background-color: lightgrey;
  width: 300px;
  border: 15px solid skyblue;
  padding: 50px;
  margin: 20px;
}
h2 {
    color:black;
    font-style: left;
    font-size: x-large;
}
.outline {
    font-size: 5mm;
}